/* 
COLOUR PALETTE VARIABLES 
https://www.color-hex.com/color-palette/61647
*/
:root{
  --grey-purple: #867676;
  --dark-gold: #836946;
  --beige:  	#CFBFaF;
  --dark-brown: #443633;
  --medium-brown:  	#6a4a3f;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapseLabel {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  cursor: pointer;
}