/* 
COLOUR PALETTE VARIABLES 
copied from my personal sites palette, use/change later
*/
:root{
  --dark-brown-grey-colour: #302b29;
  --dark-brown-colour: #41250a;
  --light-brown-colour: #5b3714;

  --honey-yellow-colour: #b8902a;
  --dull-gold-colour: #6f5e32;
  --light-yellow-colour: #ffd15c;
  --parchment-colour: #b3ae8f;

  --lavender-colour: #534b54;
}


body {
  font-family: sans-serif;
  font-size: 15px;

}

#wrapper_pedigree {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

#tree-container {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

#info-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;


}


/* TREE STYLING */

svg.custom {
  padding-left: 5px;
  overflow: visible;
}

svg.custom .node circle {
  fill: #F3F3FF;
	stroke: var(--lavender-colour);
	stroke-width: 1px;
}

svg.custom .node text {
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
  fill: black;
}

svg.custom .node {
	cursor: pointer;
}

svg.custom path.link {
	fill: none;
	stroke: #2593B8;
	stroke-width: 5px;
}


/* CARD STYLING */
#breed_graph_wrapper{
  padding-left: 25%;
}