/* 
COLOUR PALETTE VARIABLES 
copied from my personal sites palette, use/change later
*/
:root{
  --dark-brown-grey-colour: #302b29;
  --dark-brown-colour: #41250a;
  --light-brown-colour: #5b3714;

  --honey-yellow-colour: #b8902a;
  --dull-gold-colour: #6f5e32;
  --light-yellow-colour: #ffd15c;
  --parchment-colour: #b3ae8f;

  --lavender-colour: #534b54;
}


body {
  font-family: sans-serif;
  font-size: 15px;

}

#wrapper_pedigree {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

#tree-container {

  display: flex;
  flex-direction: row;
  justify-content: center;

}

#info-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;


}


/* BREED GRAPH STYLING */

#radial-graph-wrapper{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

#chart-wrapper{

}

#legend-wrapper{
  display: flex;
}

#test{
  align-self: center;
}

.rv-discrete-color-legend-item {
  display: flex;
}

#legend-wrapper svg {
  height: 25px;
}

#legend-wrapper path {
  stroke-width: 25px;

}

.rv-discrete-color-legend-item__title{
  margin-left: 2px;
  margin-top: -3px; /* cheap but gets positioning correct */
}